.storybook-tip-container {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

.storybook-tip-icon {
  background-color: cyan;
  color: black;
  padding: 4px 8px;
  border-radius: 6px;
  margin-right: 8px;
}

.storybook-tip-message {}